<simple-notifications [options]="options"></simple-notifications>
<!-- <ng-template [ngIf]="_usuario.UsuarioRolID=='admin'" [ngIfElse]="noautorizado" > -->
<div class="page-body">
  <!--profile cover end-->
  <div class="row" *ngIf="displayLista">
    <div class="col-lg-12">
      <button type="button" (click)="showPanel('C')" class="btn btn-primary m-b-0">Crear nueva configuración</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-12">
      <app-card *ngIf="displayLista" [title]="'Configuración de campos por dirección para el reporte TRAZA por producto'" [cardOptionBlock]="true">
        <dx-data-grid id="gridContainer" [dataSource]="Lista" showBorders="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true">
          <dxo-export [enabled]="true" fileName="Configurar Reporte por producto"></dxo-export>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-group-panel [visible]="true" emptyPanelText="Arrastra una columna aquí para agrupar por ella"></dxo-group-panel>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
          <dxi-column caption="Acciones" cellTemplate="accionCellTemplate"></dxi-column>
          <dxi-column dataField="idreportetipoproducto" caption="ID" [visible]="false"></dxi-column>
          <dxi-column dataField="vigencia" caption="Vigencia"></dxi-column>
          <dxi-column dataField="nombretipoproducto" caption="Tipo producto"></dxi-column>
          <dxi-column dataField="nombretiporeporte" caption="Nombre tipo reporte"></dxi-column>
          <dxi-column dataField="nombreestado" caption="Estado"></dxi-column>
          <dxi-column dataField="fechacreacionformat" caption="Fecha creación"></dxi-column>
          <dxi-column dataField="usuariocreacion" caption="Usuario creación"></dxi-column>
          <dxo-remote-operations [sorting]="true" [paging]="true">
          </dxo-remote-operations>
          <dxo-summary>
            <dxi-total-item column="idreportetipoproducto" summaryType="count" displayFormat="Cantidad: {0}">
            </dxi-total-item>
          </dxo-summary>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]"></dxo-pager>
          <div *dxTemplate="let d of 'accionCellTemplate'">
            <div class="button-cell" style="text-align: center;">
              <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document" placement="right" ngbTooltip="Actualizar"
                (click)="cargarEditCampo(d.data.idreportetipoproducto)"></i>
            </div>
          </div>
        </dx-data-grid>
      </app-card>
    </div>
    <div class="col-sm-12">
      <app-card *ngIf="displayCrear" [title]="'Crear nueva configuración'" [blockClass]="'box-list m-t-15'">
        <form #formCc="ngForm" (ngSubmit)="onSubmit(formCc.valid)">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">* Vigencia:</label>
                <div class="col-sm-8">
                  <select class="form-control" required [class.form-control-danger]="class_vigencia" name="vigencia" #vigencia [(ngModel)]="reporteTP.vigencia"
                    (change)="class_vigencia = reporteTP.vigencia === null;">
                    <option *ngFor="let item of ListaVigencia" [ngValue]="item.Id">{{item.Nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">* Tipo archivo:</label>
                <div class="col-sm-8">
                  <select class="form-control" required [class.form-control-danger]="class_codtiporeporte" name="codtiporeporte" #codtiporeporte
                    [(ngModel)]="reporteTP.codtiporeporte" (change)="class_codtiporeporte = reporteTP.codtiporeporte === null;">
                    <option *ngFor="let item of ListaTipoA" [ngValue]="item.Id">{{item.Nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">* Tipo producto:</label>
                <div class="col-sm-8">
                  <select class="form-control" required [class.form-control-danger]="class_idtipoproducto" name="idtipoproducto" #idtipoproducto
                    [(ngModel)]="reporteTP.idtipoproducto" (change)="class_idtipoproducto = reporteTP.idtipoproducto === null;">
                    <option *ngFor="let item of ListaTipoProducto" [ngValue]="item.Id">{{item.Nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">* Día máximo del mes para reportar:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" [class.form-control-danger]="(formCc.submitted && diafrecuencia.invalid) || (diafrecuencia.touched && diafrecuencia.invalid)"
                    name="diafrecuencia" #diafrecuencia="ngModel" [(ngModel)]="reporteTP.diafrecuencia" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">* Estado:</label>
                <div class="col-sm-8">
                  <select class="form-control" required [class.form-control-danger]="class_estado" name="estado" #estado [(ngModel)]="reporteTP.estado"
                    (change)="class_estado = reporteTP.estado === ''">
                    <option *ngFor="let item of ListaEstado" [ngValue]="item.Id">{{item.Nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reporteTP.idreportetipoproducto != 0">
            <div class="col-sm-12">
                <dual-list [sort]="keepSorted" [source]="ListaCampos" [key]="key" [display]="display" [filter]="filter"
                [(destination)]="ListaCamposSel" height="300px" [format]="format" [disabled]="disabled"></dual-list>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary m-b-0">Guardar</button>
              <button type="button" (click)="showPanel('V')" class="btn btn-primary m-b-0">Volver</button>
              <button type="button" *ngIf="reporteTP.idreportetipoproducto != 0" (click)="verArchivo()" class="btn btn-primary m-b-0">Visualizar archivo</button>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  </div>
</div>

<!-- </ng-template>
<ng-template #noautorizado>
  <div class="page-body">
    <div class="row">
      <div class="col-lg-12">
          <div class="alert alert-danger background-danger">
              <button type="button" class="close" >
                <i class="icofont icofont-close-line-circled text-white"></i>
              </button>
              <strong>Acceso no autorizado!</strong> usted no tiene permiso para ingresar a este modulo
            </div>
      </div>
    </div>
  </div>
</ng-template> -->