<simple-notifications [options]="options"></simple-notifications>
<ng-template [ngIf]="usuario.UsuarioRolID=='admin'" [ngIfElse]="noautorizado" >
<div class="page-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12">
              <app-card [title]="'Subir archivo'" [cardOptionBlock]="true">
                <dx-file-uploader #fileUploader uploadUrl={{url}} [multiple]="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  [(value)]="value" uploadMode="useButtons" labelText="o arrastrar archivo xlsx" 
                  selectButtonText="Seleccionar archivo" uploadButtonText="Subir"  readyToUploadMessage="Listo para subir" 
                  uploadFailedMessage="Ocurrio un error al subir el archivo" (onUploaded)="subidaCompleta($event)"></dx-file-uploader>
              </app-card>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-12">
              <app-card [title]="'Descripción del archivo'" [cardOptionBlock]="true">
                <div *ngIf="value.length > 0">
                  <h5 class="ng-tns-c24-3">Archivo seleccionado</h5>
                </div>
                <div *ngFor="let file of value">
                  <div class="selected-item">

                    <br /> Nombre:
                    <span>{{file.name}}</span>
                    <br /> Tamaño:
                    <span>{{file.size}}</span>bytes
                    <br /> Tipo:
                    <span>{{file.type}}</span>
                    <br /> Fecha ultima modificación:
                    <span>{{file.lastModifiedDate}}</span>
                    <br />
                    <br />
                    <br />
                  </div>
                </div>
              </app-card>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-12">
      <app-card [title]="'Medición de PosVentas'" [cardOptionBlock]="true">
        <dx-data-grid id="gridContainer" [dataSource]="rowPosVentas" showBorders="false" [allowColumnReordering]="true" [columnAutoWidth]="true"
          [rowAlternationEnabled]="true">
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxi-column dataField="posventaID" caption="posventaID"></dxi-column>
          <dxi-column dataField="iD_CONTACTO" caption="ID CONTACTO"></dxi-column>
          <dxi-column dataField="registro" caption="REGISTRO"></dxi-column>
          <dxi-column dataField="fechaini" caption="FECHA INICIAL"></dxi-column>
          <dxi-column dataField="horaini" caption="HORA INICIAL"></dxi-column>
          <dxi-column dataField="fechafin" caption="FECHA FIN"></dxi-column>
          <dxi-column dataField="horafin" caption="HORA FIN"></dxi-column>
          <dxi-column dataField="annO_MEDICION" caption="AÑO MEDICIÓN"></dxi-column>
          <dxi-column dataField="meS_MEDICION" caption="MES MEDICIÓN"></dxi-column>
          <dxi-column dataField="concesionario" caption="CONCESIONARIO"></dxi-column>
          <dxi-column dataField="segmento" caption="SEGMENTO"></dxi-column>
          <dxi-column dataField="vehiculo" caption="VEHICULO"></dxi-column>
          <dxi-column dataField="placa" caption="PLACA"></dxi-column>
          <dxi-column dataField="modelo" caption="MODELO"></dxi-column>

          <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
          <dxo-remote-operations [sorting]="true" [paging]="true">
          </dxo-remote-operations>
          <dxo-paging [pageSize]="20"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20,50,100]"></dxo-pager>
          <dxo-summary>
            <dxi-total-item column="posventaID" summaryType="count" displayFormat="Cantidad: {0}">
            </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </app-card>
    </div>
  </div>
</div>
</ng-template>
<ng-template #noautorizado>
  <div class="page-body">
    <div class="row">
      <div class="col-lg-12">
          <div class="alert alert-danger background-danger">
              <button type="button" class="close" >
                <i class="icofont icofont-close-line-circled text-white"></i>
              </button>
              <strong>Acceso no autorizado!</strong> usted no tiene permiso para ingresar a este modulo
            </div>
      </div>
    </div>
  </div>
</ng-template>
    