<simple-notifications [options]="options"></simple-notifications>
<!-- <ng-template [ngIf]="_usuario.UsuarioRolID=='admin'" [ngIfElse]="noautorizado" > -->
<div class="page-body">
    <!--profile cover end-->
    <div class="row" *ngIf="displayListContratista">
        <div class="col-sm-12">
            <button type="button" (click)="showPanel('C')" class="btn btn-primary m-b-0">Crear nuevo contratista</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <app-card *ngIf="displayListContratista" [title]="'Listado de contratistas del sistema'">
                <dx-data-grid id="gridContainer" [dataSource]="contratistasLista" showBorders="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true">
                    <dxo-export [enabled]="true" fileName="Contratistas"></dxo-export>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxi-column caption="Acciones" cellTemplate="accionCellTemplate"></dxi-column>
                    <dxi-column dataField="CCO_ID" caption="ID"></dxi-column>
                    <dxi-column dataField="CCO_IDENTIFICACION" caption="Identificación"></dxi-column>
                    <dxi-column dataField="CCO_DIGITO_VERIFICACION" caption="Digito de verificación"></dxi-column>
                    <dxi-column dataField="CCO_NOMBRE" caption="Nombre"></dxi-column>
                    <dxi-column dataField="CCO_COREO_ELECTRONICO" caption="E-mail"></dxi-column>
                    <dxi-column dataField="CCO_DIRECCION" caption="Dirección"></dxi-column>
                    <dxi-column dataField="CCO_TELEFONO_CELULAR" caption="Teléfono"></dxi-column>
                    <dxi-column dataField="CCO_PROFESION" caption="Profesión"></dxi-column>
                    <dxi-column dataField="Departamento" caption="Departamento"></dxi-column>
                    <dxi-column dataField="Municipio" caption="Municipio"></dxi-column>
                    <dxi-column dataField="CCO_TEMPORAL" caption="Temportal"></dxi-column>
                    <dxo-remote-operations [sorting]="true" [paging]="true">
                    </dxo-remote-operations>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]"></dxo-pager>
                    <dxo-summary>
                        <dxi-total-item column="CCO_ID" summaryType="count" displayFormat="Cantidad: {0}">
                        </dxi-total-item>
                    </dxo-summary>
                    <div *dxTemplate="let d of 'accionCellTemplate'">
                        <div class="button-cell">
                            <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document" placement="left" ngbTooltip="Actualizar"
                                (click)="showPanel('U', d.data.CCO_ID)"></i>
                            <i style="font-size:20px; cursor:pointer;" class="icofont icofont-files" placement="left" ngbTooltip="Listado de contratos"
                                (click)="showPanel('LC', d.data.CCO_ID)"></i>
                        </div>
                    </div>
                </dx-data-grid>
            </app-card>
        </div>
        <div class="col-sm-12">
            <app-card *ngIf="displayCrearContratista" [title]="'Crear contratista'" [blockClass]="'box-list m-t-15'">
                <form #formCc="ngForm" (ngSubmit)="onSubmit(formCc.valid)">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Naturaleza jurídica:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" required [class.form-control-danger]="(formCc.submitted && TNJ_ID_NATURALEZA_JURIDICA.invalid) || (TNJ_ID_NATURALEZA_JURIDICA.touched && TNJ_ID_NATURALEZA_JURIDICA.invalid)"
                                        name="TNJ_ID_NATURALEZA_JURIDICA" #TNJ_ID_NATURALEZA_JURIDICA [(ngModel)]="contratista.TNJ_ID_NATURALEZA_JURIDICA">
                                        <option value="-1">-- Seleccione una naturaleza júridica --</option>
                                        <option *ngFor="let item of njLista" [ngValue]="item.TNJ_ID_NATURALEZA_JURIDICA">{{item.TNJ_NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" [class.form-group-danger]="DOC_ID.touched && DOC_ID.invalid">
                                <label class="col-sm-4 col-form-label">* Tipo de documento:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" required name="DOC_ID" id="DOC_ID" #DOC_ID [(ngModel)]="contratista.DOC_ID">
                                        <option value="-1">-- Seleccione el tipo de documento --</option>
                                        <option *ngFor="let item of tdLista" [value]="item.ID">{{item.NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Número identificación o NIT:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_IDENTIFICACION.invalid) || (CCO_IDENTIFICACION.touched && CCO_IDENTIFICACION.invalid)"
                                        name="CCO_IDENTIFICACION" #CCO_IDENTIFICACION="ngModel" [(ngModel)]="contratista.CCO_IDENTIFICACION"
                                        required>
                                </div>
                                <div class="col-sm-1" *ngIf="contratista.DOC_ID === 2">
                                    <input type="number" min="0" max="9" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_DIGITO_VERIFICACION.invalid) || (CCO_DIGITO_VERIFICACION.touched && CCO_DIGITO_VERIFICACION.invalid)"
                                        name="CCO_DIGITO_VERIFICACION" #CCO_DIGITO_VERIFICACION="ngModel" [(ngModel)]="contratista.CCO_DIGITO_VERIFICACION"
                                        placeholder="DV" [required]="contratista.DOC_ID === 2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Nombre completo:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_NOMBRE.invalid) || (CCO_NOMBRE.touched && CCO_NOMBRE.invalid)"
                                        name="CCO_NOMBRE" #CCO_NOMBRE="ngModel" [(ngModel)]="contratista.CCO_NOMBRE" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Departamento:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" required name="ZON_ID_DEP" #ZON_ID_DEP [(ngModel)]="contratista.ZON_ID_DEP" (change)="mostrarMunicipios()">
                                        <option value="">-- Seleccione el departamento --</option>
                                        <option *ngFor="let item of depLista" [ngValue]="item.Id">{{item.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Municipio:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" required name="ZON_ID" #ZON_ID_DEP [(ngModel)]="contratista.ZON_ID">
                                        <option value="">-- Seleccione el municipio --</option>
                                        <option *ngFor="let item of munLista" [ngValue]="item.Id">{{item.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Dirección:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_DIRECCION.invalid) || (CCO_DIRECCION.touched && CCO_DIRECCION.invalid)"
                                        name="CCO_DIRECCION" #CCO_DIRECCION="ngModel" [(ngModel)]="contratista.CCO_DIRECCION"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Correo electrónico:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_COREO_ELECTRONICO.invalid) || (CCO_COREO_ELECTRONICO.touched && CCO_COREO_ELECTRONICO.invalid)"
                                        name="CCO_COREO_ELECTRONICO" #CCO_COREO_ELECTRONICO="ngModel" [(ngModel)]="contratista.CCO_COREO_ELECTRONICO"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Teléfono celular:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_TELEFONO_CELULAR.invalid) || (CCO_TELEFONO_CELULAR.touched && CCO_TELEFONO_CELULAR.invalid)"
                                        name="CCO_TELEFONO_CELULAR" #CCO_TELEFONO_CELULAR="ngModel" [(ngModel)]="contratista.CCO_TELEFONO_CELULAR"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Profesión:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_PROFESION.invalid) || (CCO_PROFESION.touched && CCO_PROFESION.invalid)"
                                        name="CCO_PROFESION" #CCO_PROFESION="ngModel" [(ngModel)]="contratista.CCO_PROFESION"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                <label class="col-sm-12 col-form-label">
                                    <h5 class="sub-title">Representante legal</h5>
                                </label>
                            </div>
                            <div class="form-group row" *ngIf="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                <label class="col-sm-4 col-form-label">* Nombre completo representante legal:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_NOMBRE_REPRESENTANTE_LEGAL.invalid) || (CCO_NOMBRE_REPRESENTANTE_LEGAL.touched && CCO_NOMBRE_REPRESENTANTE_LEGAL.invalid)"
                                        name="CCO_NOMBRE_REPRESENTANTE_LEGAL" #CCO_NOMBRE_REPRESENTANTE_LEGAL="ngModel" [(ngModel)]="contratista.CCO_NOMBRE_REPRESENTANTE_LEGAL"
                                        [required]="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                <label class="col-sm-4 col-form-label">* Tipo de documento:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" required name="DOC_ID_REPRESENTANTE" #DOC_ID_REPRESENTANTE [(ngModel)]="contratista.DOC_ID_REPRESENTANTE"
                                        [required]="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                        <option value="-1">-- Seleccione el tipo de documento --</option>
                                        <option *ngFor="let item of tdLista" [ngValue]="item.ID">{{item.NOMBRE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                <label class="col-sm-4 col-form-label">* Número identificación:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && CCO_NUM_IDENTIFICACION_REPRESENTANTE.invalid) || (CCO_NUM_IDENTIFICACION_REPRESENTANTE.touched && CCO_NUM_IDENTIFICACION_REPRESENTANTE.invalid)"
                                        name="CCO_NUM_IDENTIFICACION_REPRESENTANTE" #CCO_NUM_IDENTIFICACION_REPRESENTANTE="ngModel"
                                        [(ngModel)]="contratista.CCO_NUM_IDENTIFICACION_REPRESENTANTE" [required]="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                <label class="col-sm-4 col-form-label">Expedido en departamento:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="ZON_ID_REPRESENTANTE_DEP" #ZON_ID_REPRESENTANTE_DEP [(ngModel)]="contratista.ZON_ID_REPRESENTANTE_DEP"
                                        (change)="mostrarMunicipiosRL()">
                                        <option value="">-- Seleccione el departamento --</option>
                                        <option *ngFor="let item of depLista" [ngValue]="item.Id">{{item.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="contratista.TNJ_ID_NATURALEZA_JURIDICA !== 25">
                                <label class="col-sm-4 col-form-label">Expedido en municipio:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="ZON_ID_REPRESENTANTE" #ZON_ID_REPRESENTANTE [(ngModel)]="contratista.ZON_ID_REPRESENTANTE">
                                        <option value="">-- Seleccione el municipio --</option>
                                        <option *ngFor="let item of munListaRL" [ngValue]="item.Id">{{item.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary m-b-0">Guardar</button>
                            <button type="button" (click)="showPanel('V')" class="btn btn-primary m-b-0">Volver</button>
                        </div>
                    </div>
                </form>
            </app-card>
        </div>
        <div class="col-sm-12">
            <app-card *ngIf="displayListContratos" [title]="titulo">
                <button type="button" (click)="showPanel('CC',0)" class="btn btn-primary m-b-0">Crear nuevo contrato</button>
                <br/>
                <br/>
                <dx-data-grid id="gridContainer" [dataSource]="contratosLista" showBorders="true" [columnAutoWidth]="false" [rowAlternationEnabled]="true">
                    <dxo-export [enabled]="true" fileName="Contratos"></dxo-export>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxi-column caption="Acciones" cellTemplate="accionCellTemplate"></dxi-column>
                    <dxi-column dataField="CTT_ID" caption="ID"></dxi-column>
                    <dxi-column dataField="CTT_ANO" caption="Año"></dxi-column>
                    <dxi-column dataField="CTT_NUMERO_CONTRATO" caption="Número de contrato"></dxi-column>
                    <dxi-column dataField="CTT_FECHA_INICIO" caption="Fecha inicio"></dxi-column>
                    <dxi-column dataField="CTT_FECHA_TERMINACION" caption="Fecha terminación"></dxi-column>
                    <dxi-column dataField="CTT_VALOR_CONTRATO_Format" caption="Valor del contrato"></dxi-column>
                    <dxo-summary>
                        <dxi-total-item column="CTT_ID" summaryType="count" displayFormat="Cantidad: {0}">
                        </dxi-total-item>
                    </dxo-summary>
                    <dxo-remote-operations [sorting]="true" [paging]="true">
                    </dxo-remote-operations>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]"></dxo-pager>
                    <div *dxTemplate="let d of 'accionCellTemplate'">
                        <div class="button-cell">
                            <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document" placement="left" ngbTooltip="Actualizar"
                                (click)="showPanel('EC',d.data.CTT_ID)"></i>
                        </div>
                    </div>
                </dx-data-grid>
                <br/>
                <button type="button" (click)="showPanel('V',0)" class="btn btn-primary m-b-0">Volver</button>
            </app-card>
        </div>
        <div class="col-sm-12">
            <app-card *ngIf="displayCrearContrato" [title]="titulo">
                <div class="md-tabs md-card-tabs">
                    <ngb-tabset>
                        <ngb-tab title="Estudios previos disponibles">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15">
                                    <form #formAsociarEpes="ngForm" (ngSubmit)="onSubmitAsociarEpes(gridEpes.instance.getSelectedRowsData()[0]); gridEpes.instance.clearSelection();">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h5 class="sub-title">Estudios previos disponibles</h5>
                                                <dx-data-grid id="gridContainer" [dataSource]="epesLista" showBorders="true" [rowAlternationEnabled]="true" keyExpr="FAE_ID"
                                                    #gridEpes [selectedRowKeys]="[]">
                                                    <dxo-selection mode="single"></dxo-selection>
                                                    <dxo-export [enabled]="true" fileName="Epes disponibles"></dxo-export>
                                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                                                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                                    <dxi-column dataField="FAE_ID" caption="ID"></dxi-column>
                                                    <dxi-column dataField="FAE_OBJETO" caption="Objeto"></dxi-column>
                                                    <dxi-column dataField="FAE_NUMERO_CDP" caption="CDP"></dxi-column>
                                                    <dxi-column dataField="FAE_VALOR_CDP" caption="Valor CDP"></dxi-column>
                                                    <dxi-column dataField="PLN_NOMBRE" caption="Rubro"></dxi-column>
                                                    <dxi-column dataField="DEP_NOMBRE" caption="Dependencia"></dxi-column>
                                                    <dxi-column dataField="CLS_NOMBRE" caption="Clasificación"></dxi-column>
                                                    <dxo-remote-operations [sorting]="true" [paging]="true">
                                                    </dxo-remote-operations>
                                                    <dxo-summary>
                                                        <dxi-total-item column="FAE_ID" summaryType="count" displayFormat="Cantidad: {0}">
                                                        </dxi-total-item>
                                                    </dxo-summary>
                                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
                                                </dx-data-grid>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="alert alert-danger background-danger" *ngIf="gridEpes.selectedRowKeys.length === 0 && epesListaAso.length === 0">
                                            Seleccion el estudio previo que desea asociar.
                                        </div>
                                        <div class="alert alert-success background-success" *ngIf="gridEpes.selectedRowKeys.length > 0">
                                            <strong>Objeto:</strong>
                                            <p>{{gridEpes.instance.getSelectedRowsData()[0].FAE_OBJETO}}</p>
                                            <p>
                                                <strong>CDP:</strong>
                                                {{gridEpes.instance.getSelectedRowsData()[0].FAE_NUMERO_CDP}}
                                                <strong>Valor CDP:</strong>
                                                {{gridEpes.instance.getSelectedRowsData()[0].FAE_VALOR_CDP | currency}}
                                                <strong>Clasificación:</strong>
                                                {{gridEpes.instance.getSelectedRowsData()[0].CLS_NOMBRE}}
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary m-b-0" [disabled]="gridEpes.selectedRowKeys.length === 0">Asociar</button>
                                                <button type="button" (click)="showPanel('LC',contratista.CCO_ID)" class="btn btn-primary m-b-0">Volver</button>
                                            </div>
                                        </div>
                                    </form>
                                    <br/>
                                    <div class="row" *ngIf="epesListaAso.length > 0">
                                        <div class="col-lg-12">
                                            <h5 class="sub-title">Estudios previos relacionados</h5>
                                            <dx-data-grid id="gridContainerAso" [dataSource]="epesListaAso" showBorders="true" [rowAlternationEnabled]="true" keyExpr="CFE_ID"
                                                #gridEpesAso>
                                                <dxo-export [enabled]="true" fileName="Epes asociados"></dxo-export>
                                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                                <dxo-group-panel [visible]="false"></dxo-group-panel>
                                                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                                <dxi-column caption="Liberar" cellTemplate="accionCellTemplate"></dxi-column>
                                                <dxi-column dataField="FAE_ID" caption="ID"></dxi-column>
                                                <dxi-column dataField="FAE_OBJETO" caption="Objeto"></dxi-column>
                                                <dxi-column dataField="FAE_NUMERO_CDP" caption="CDP"></dxi-column>
                                                <dxi-column dataField="FAE_VALOR_CDP" caption="Valor CDP"></dxi-column>
                                                <dxi-column dataField="PLN_NOMBRE" caption="Rubro"></dxi-column>
                                                <dxi-column dataField="DEP_NOMBRE" caption="Dependencia"></dxi-column>
                                                <dxi-column dataField="CLS_NOMBRE" caption="Clasificación"></dxi-column>
                                                <dxo-remote-operations [sorting]="true" [paging]="true">
                                                </dxo-remote-operations>
                                                <dxo-summary>
                                                    <dxi-total-item column="FAE_ID" summaryType="count" displayFormat="Cantidad: {0}">
                                                    </dxi-total-item>
                                                </dxo-summary>
                                                <dxo-paging [pageSize]="5"></dxo-paging>
                                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
                                                <div *dxTemplate="let d of 'accionCellTemplate'">
                                                    <div class="button-cell">
                                                        <i style="font-size:20px; cursor:pointer;" class="icofont icofont-trash" placement="left" ngbTooltip="Liberar" (click)="liberarEpe(d.data.CFE_ID)"></i>
                                                    </div>
                                                </div>
                                            </dx-data-grid>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Información del contrato">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15">
                                    <form #formContrato="ngForm" (ngSubmit)="onSubmitContrato()">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Número proceso SECOP:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="CTT_NUM_PROCESO_SECOP_II" #CTT_NUM_PROCESO_SECOP_II="ngModel" [(ngModel)]="contrato.CTT_NUM_PROCESO_SECOP_II">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Número contrato:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="CTT_NUMERO_CONTRATO" #CTT_NUMERO_CONTRATO="ngModel" [(ngModel)]="contrato.CTT_NUMERO_CONTRATO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Año:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_ANO" #CTT_ANO="ngModel" [(ngModel)]="contrato.CTT_ANO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Objeto:</label>
                                                    <div class="col-sm-8">
                                                        <textarea cols="100" class="form-control" name="CTT_OBJETO" #CTT_OBJETO="ngModel" [(ngModel)]="contrato.CTT_OBJETO"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha solicitud:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_SOLICITUD" [(ngModel)]="contrato.CTT_FECHA_SOLICITUD"
                                                            ngbDatepicker #CTT_FECHA_SOLICITUD="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_SOLICITUD.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha suscripci&oacute;n:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_SUSCRIPCION" [(ngModel)]="contrato.CTT_FECHA_SUSCRIPCION"
                                                            ngbDatepicker #CTT_FECHA_SUSCRIPCION="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_SUSCRIPCION.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha inicio contrato:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_INICIO" [(ngModel)]="contrato.CTT_FECHA_INICIO" ngbDatepicker
                                                            #CTT_FECHA_INICIO="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_INICIO.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha terminación:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_TERMINACION" [(ngModel)]="contrato.CTT_FECHA_TERMINACION"
                                                            ngbDatepicker #CTT_FECHA_TERMINACION="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_TERMINACION.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Días prorrogados:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_DIAS_PRORROGA" #CTT_DIAS_PRORROGA="ngModel" [(ngModel)]="contrato.CTT_DIAS_PRORROGA">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Días de suspensión:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_DIAS_SUSPENSIONES" #CTT_DIAS_SUSPENSIONES="ngModel" [(ngModel)]="contrato.CTT_DIAS_SUSPENSIONES">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha de terminación real:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_TERMINACION_FINAL" [(ngModel)]="contrato.CTT_FECHA_TERMINACION_FINAL"
                                                            ngbDatepicker #CTT_FECHA_TERMINACION_FINAL="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_TERMINACION_FINAL.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha liquidación:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_LIQUIDACION" [(ngModel)]="contrato.CTT_FECHA_LIQUIDACION"
                                                            ngbDatepicker #CTT_FECHA_LIQUIDACION="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_LIQUIDACION.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Duración del contrato:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_DIAS_TOTAL_DURACION_CONTRATO" #CTT_DIAS_TOTAL_DURACION_CONTRATO="ngModel"
                                                            [(ngModel)]="contrato.CTT_DIAS_TOTAL_DURACION_CONTRATO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Plazo:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="CTT_PLAZO" #CTT_PLAZO="ngModel" [(ngModel)]="contrato.CTT_PLAZO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Tipo liquidación:</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="CTL_ID" #CTL_ID [(ngModel)]="contrato.CTL_ID">
                                                            <option value="-1">-- Seleccione el tipo de liquidación --</option>
                                                            <option *ngFor="let item of tipLiq" [ngValue]="item.CTL_ID">{{item.CTL_NOMBRE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Número registro presupuestal:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_NUMERO_REGISTRO" #CTT_NUMERO_REGISTRO="ngModel" [(ngModel)]="contrato.CTT_NUMERO_REGISTRO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Fecha registro presupuestal:</label>
                                                    <div class="col-sm-8 input-group">
                                                        <input class="form-control" placeholder="dd/mm/aaaa" name="CTT_FECHA_REGISTRO_PRESUP" [(ngModel)]="contrato.CTT_FECHA_REGISTRO_PRESUP"
                                                            ngbDatepicker #CTT_FECHA_REGISTRO_PRESUP="ngbDatepicker">
                                                        <div class="input-group-addon bg-default" (click)="CTT_FECHA_REGISTRO_PRESUP.toggle()">
                                                            <span class="icofont icofont-ui-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Supervisor interno:</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="ASU_ID_INTERNO" #ASU_ID_INTERNO [(ngModel)]="contrato.ASU_ID_INTERNO">
                                                            <option value="-1">-- Seleccione el supervisor interno --</option>
                                                            <option *ngFor="let item of sIntLista" [ngValue]="item.ASU_ID">{{item.ASU_NOMBRE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Supervisor externo:</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="ASU_ID_EXTERNO" #ASU_ID_EXTERNO [(ngModel)]="contrato.ASU_ID_EXTERNO">
                                                            <option value="-1">-- Seleccione el supervisor externo --</option>
                                                            <option *ngFor="let item of sExtLista" [ngValue]="item.ASU_ID">{{item.ASU_NOMBRE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Valor aporte ministerio:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_VALOR_APORTE_MINISTERIO" #CTT_VALOR_APORTE_MINISTERIO="ngModel" [(ngModel)]="contrato.CTT_VALOR_APORTE_MINISTERIO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Valor aporte contrapartida:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_VALOR_APORTE_CONTRAPARTIDA" #CTT_VALOR_APORTE_CONTRAPARTIDA="ngModel"
                                                            [(ngModel)]="contrato.CTT_VALOR_APORTE_CONTRAPARTIDA">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Valor contrato:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_VALOR_CONTRATO" #CTT_VALOR_CONTRATO="ngModel" [(ngModel)]="contrato.CTT_VALOR_CONTRATO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Valor adiciones:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_VALOR_ADICIONES" #CTT_VALOR_ADICIONES="ngModel" [(ngModel)]="contrato.CTT_VALOR_ADICIONES">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Valor final contrato:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CLI_VALOR_FINAL_CONTRATO" #CLI_VALOR_FINAL_CONTRATO="ngModel" [(ngModel)]="contrato.CLI_VALOR_FINAL_CONTRATO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Valor mensual Contrato:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_VALOR_CONTRATO_MENSUAL" #CTT_VALOR_CONTRATO_MENSUAL="ngModel" [(ngModel)]="contrato.CTT_VALOR_CONTRATO_MENSUAL">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Forma de pago (convenios):</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="CTT_FORMA_PAGO_CONVENIOS" #CTT_FORMA_PAGO_CONVENIOS="ngModel" [(ngModel)]="contrato.CTT_FORMA_PAGO_CONVENIOS">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Porcentaje anticipo:</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" name="CTT_PORCENTAJE_ANTICIPO" #CTT_PORCENTAJE_ANTICIPO="ngModel" [(ngModel)]="contrato.CTT_PORCENTAJE_ANTICIPO">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Incluye IVA:</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="CTT_INCLUYE_IVA" #CTT_INCLUYE_IVA [(ngModel)]="contrato.CTT_INCLUYE_IVA">
                                                            <option value="-1">-- Seleccione si incluye IVA --</option>
                                                            <option value="0">NO</option>
                                                            <option value="1">SI</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Forma de pago:</label>
                                                    <div class="col-sm-8">
                                                        <textarea cols="100" class="form-control" name="CTT_FORMA_PAGO" #CTT_FORMA_PAGO="ngModel" [(ngModel)]="contrato.CTT_FORMA_PAGO"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Obligaciones:</label>
                                                    <div class="col-sm-8">
                                                        <textarea cols="100" class="form-control" name="CTT_OBLIGACIONES" #CTT_OBLIGACIONES="ngModel" [(ngModel)]="contrato.CTT_OBLIGACIONES"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Observaciones:</label>
                                                    <div class="col-sm-8">
                                                        <textarea cols="100" class="form-control" name="CLI_OBSERVACIONES" #CLI_OBSERVACIONES="ngModel" [(ngModel)]="contrato.CLI_OBSERVACIONES"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary m-b-0">Guardar</button>
                                                <button type="button" (click)="showPanel('LC',contratista.CCO_ID)" class="btn btn-primary m-b-0">Volver</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Obligaciones">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5 class="sub-title">Obligaciones del contrato</h5>
                                            <dx-data-grid id="gridContainerObl" [dataSource]="obligacionesLista" showBorders="true" [rowAlternationEnabled]="true" keyExpr="ID_LLAVE"
                                                #gridEpes [selectedRowKeys]="[]" [allowColumnReordering]="true" (onRowUpdating)="actualizarObligacion($event)" (onRowInserting)="adicionarObligacion($event)"
                                                (onRowRemoving)="eliminarObligacion($event)">
                                                <dxo-selection mode="single"></dxo-selection>
                                                <dxo-export [enabled]="true" fileName="Obligaciones"></dxo-export>
                                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                                <dxo-group-panel [visible]="false"></dxo-group-panel>
                                                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                                <dxi-column dataField="ORDEN" caption="Orden"></dxi-column>
                                                <dxi-column dataField="OBLIGACION" caption="Obligación"></dxi-column>
                                                <dxo-remote-operations [sorting]="true" [paging]="true">
                                                </dxo-remote-operations>
                                                <dxo-summary>
                                                    <dxi-total-item column="ID_LLAVE" summaryType="count" displayFormat="Cantidad: {0}">
                                                    </dxi-total-item>
                                                </dxo-summary>
                                                <dxo-editing 
                                                    mode="form"
                                                    [allowUpdating]="true"
                                                    [allowAdding]="true"
                                                    [allowDeleting]="true">
                                                </dxo-editing>
                                                <dxo-paging [pageSize]="10"></dxo-paging>
                                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]"></dxo-pager>
                                            </dx-data-grid>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" (click)="showPanel('LC',contratista.CCO_ID)" class="btn btn-primary m-b-0">Volver</button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Reportes">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15">
                                    <div class="row">
                                        <div class="col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </app-card>
        </div>
    </div>
</div>