<simple-notifications [options]="options"></simple-notifications>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <app-card [title]="'Buscar registro sanitario'" [cardOptionBlock]="true">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">* Ingrese el n&uacute;mero de expediente:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" name="rs" #rs="ngModel" [(ngModel)]="registro.rs" required>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" (click)="BuscarRS()" class="btn btn-primary m-b-0">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <dx-data-grid id="gridContainer" [dataSource]="Lista" showBorders="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true">
                    <dxo-export [enabled]="true" fileName="Reporte registrio sanitario"></dxo-export>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-group-panel [visible]="true" emptyPanelText="Arrastra una columna aquí para agrupar por ella"></dxo-group-panel>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxi-column caption="Acciones" cellTemplate="accionCellTemplate"></dxi-column>
                    <dxi-column dataField="nroregsan" caption="Registro sanitario"></dxi-column>
                    <dxi-column dataField="fchvencimiento" caption="Vigencia"></dxi-column>
                    <dxi-column dataField="nroexpediente" caption="# Expediente"></dxi-column>
                    <dxi-column dataField="modcompuesta" caption="Modalidad"></dxi-column>
                    <dxi-column dataField="TITULAR" caption="Titular / Importador"></dxi-column>
                    <dxi-column dataField="nmbproducto1" caption="Producto"></dxi-column>
                    <dxi-column dataField="principio_Activo" caption="Principio activo"></dxi-column>
                    <dxi-column dataField="concetracion" caption="Concetración"></dxi-column>
                    <dxo-remote-operations [sorting]="true" [paging]="true">
                    </dxo-remote-operations>
                    <dxo-summary>
                        <dxi-total-item column="nroregsan" summaryType="count" displayFormat="Cantidad: {0}">
                        </dxi-total-item>
                    </dxo-summary>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]"></dxo-pager>
                    <div *dxTemplate="let d of 'accionCellTemplate'">
                        <div class="button-cell" style="text-align: center;">
                            <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document" placement="right" ngbTooltip="Seleccionar"
                                (click)="seleccionarRegistro(d.data)"></i>
                        </div>
                    </div>
                </dx-data-grid>
                <br/>
                <form #formCc="ngForm" (ngSubmit)="onSubmitReporte(formCc.valid)">
                    <div class="row" *ngIf="reporte.numeroregistrosanitario !== null">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Seleccione el tipo de reporte:</label>
                                <div class="col-sm-8 input-group">
                                    <label>
                                        <input type="radio" name="codreportedisponibilidad" #codreportedisponibilidad [(ngModel)]="reporte.codreportedisponibilidad"
                                            value="4974" (change)="changeTipoReporte()" />&nbsp;No comercialización Temporal</label>&nbsp;&nbsp;
                                    <label>
                                        <input type="radio" name="codreportedisponibilidad" #codreportedisponibilidad [(ngModel)]="reporte.codreportedisponibilidad"
                                            value="4975" (change)="changeTipoReporte()" />&nbsp;Comercialización por exportación</label>&nbsp;&nbsp;
                                    <label>
                                        <input type="radio" name="codreportedisponibilidad" #codreportedisponibilidad [(ngModel)]="reporte.codreportedisponibilidad"
                                            value="4976" (change)="changeTipoReporte()" />&nbsp;Reingreso</label>&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="reporte.codreportedisponibilidad.toString() === '4974' || reporte.codreportedisponibilidad.toString() === '4976'">
                                <label class="col-sm-4 col-form-label">* {{titulo}}</label>
                                <div class="col-sm-8 input-group">
                                    <textarea cols="100" class="form-control" name="motivoreportedisp" #motivoreportedisp="ngModel" [(ngModel)]="reporte.motivoreportedisp"
                                        [required]="reporte.codreportedisponibilidad.toString() === '4974' || reporte.codreportedisponibilidad.toString() === '4976'"
                                        [class.form-control-danger]="(formCc.submitted && motivoreportedisp.invalid) || (motivoreportedisp.touched && motivoreportedisp.invalid)"></textarea>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="reporte.codreportedisponibilidad.toString() === '4974'">
                                <label class="col-sm-4 col-form-label">* Fecha estimada del reingreso:</label>
                                <div class="col-sm-8 input-group">
                                    <input class="form-control" placeholder="dd/mm/aaaa" name="fechafinvigenciadisp" [(ngModel)]="reporte.fechafinvigenciadisp"
                                        ngbDatepicker #fechafinvigenciadisp="ngbDatepicker" [required]="reporte.codreportedisponibilidad.toString() === '4974'"
                                        [class.form-control-danger]="(formCc.submitted && fechafinvigenciadisp.invalid) || (fechafinvigenciadisp.touched && fechafinvigenciadisp.invalid)">
                                    <div class="input-group-addon bg-default" (click)="fechafinvigenciadisp.toggle()">
                                        <span class="icofont icofont-ui-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Desea recibir un correo con la confirmación de la información reportada:</label>
                                <div class="col-sm-8 input-group">
                                    <label>
                                        <input type="radio" name="indnotificacioncorreo" #indnotificacioncorreo [(ngModel)]="reporte.indnotificacioncorreo" value="S"/>&nbsp;Si</label>&nbsp;&nbsp;
                                    <label>
                                        <input type="radio" name="indnotificacioncorreo" #indnotificacioncorreo [(ngModel)]="reporte.indnotificacioncorreo" value="N"/>&nbsp;No</label>&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">* Correo electrónico de notificación:</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control" [class.form-control-danger]="(formCc.submitted && emailnotificacion.invalid) || (emailnotificacion.touched && emailnotificacion.invalid) || (emailnotificacion.errors?.pattern)"
                                        name="emailnotificacion" #emailnotificacion="ngModel" [(ngModel)]="reporte.emailnotificacion" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="reporte.numeroregistrosanitario !== null">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary m-b-0">Continuar</button>
                            <button type="button" (click)="showPanel()" class="btn btn-primary m-b-0">Cancelar</button>
                        </div>
                    </div>
                </form>
                <div class="row" *ngIf="reporte.numeroregistrosanitario !== null">
                    <div lass="col-sm-12">
                        <app-modal-animation [modalID]="'cargarDocSoporte'" [modalClass]="'md-effect-3'">
                            <h3>Documentos soporte de la comercialización por exportación</h3>
                            <div>
                                <p>Por favor seleccione el documento soporte de la comercialización por exportación, solamente en formato <b><em>PDF</em></b></p>
                                <p>
                                    <strong>Nota: </strong>Recuerde que si no sube el documento su solicitud no será enviada al INVIMA.
                                </p>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <dx-file-uploader #fileUploader uploadUrl={{url}} [multiple]="false" accept="application/pdf" [(value)]="value" uploadMode="useButtons"
                                                    labelText="" selectButtonText="Seleccionar"
                                                    uploadButtonText="Subir" readyToUploadMessage=""
                                                    uploadFailedMessage="Ocurrio un error!" (onUploaded)="subidaCompleta($event)"></dx-file-uploader>
                                            </div>
                                            <div class="col-sm-8">
                                                <div *ngIf="value.length > 0">
                                                    <h5 class="sub-title">Archivo seleccionado</h5>
                                                </div>
                                                <div *ngFor="let file of value">
                                                    <div class="selected-item">
                                                        Nombre:
                                                        <span>{{file.name}}</span>
                                                        <br /> Tamaño:
                                                        <span>{{file.size}}</span>bytes
                                                        <br /> Tipo:
                                                        <span>{{file.type}}</span>
                                                        <br /> Fecha ultima modificación:
                                                        <span>{{file.lastModifiedDate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </app-modal-animation>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>