<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form #formLogin="ngForm" class="md-float-material" (ngSubmit)="onLogin()">
            <div class="text-center">
              <img src="assets/images/logo.png" alt="Derco">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Ingresar a la aplicación</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Su dirección email"  name="username" #usernme="ngModel" [(ngModel)]="_loginForm.username" required>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="_loginForm.password" required>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="" name="recordar" #recordar="ngModel" [(ngModel)]="_loginForm.recordar" >
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Recordarme</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> ¿Olvidó su Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Ingresar"/>
                 </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-12">
                  <p class="text-inverse text-left m-b-0"><b>Gracias y disfruta de nuestro aplicación web.</b></p>
                  <p class="text-inverse text-left">Si tiene algun inconveniente para ingresar por favor comunicarse con soporte tecnólogico</p>
                </div>               
              </div>

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
